:host {
  display: block;
  width: 100%;

  mat-card-title {
    font-size: 18px;
    margin-top: 5px;
  }

  mat-card-content {
    padding: 10px 20px 0;
    margin-bottom: 0px;

    ::ng-deep a {
      font-weight: 500;
      color: black;
    }
  }

  mat-form-field {
    width: 100%;

    ::ng-deep.mat-form-field-underline {
      background-color: rgb(206, 206, 206) !important;
    }
  }

  .buttons {
    padding: 5px 40px 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      transition: background-color .3s ease-in-out;

      &.cancel {
        font-weight: 400;
        border-color: #ffb7b2;
        color: #ff7066;
      }

      &.submit:not([disabled]) {
        color: white;
        background-color: #00990094;
      }

      &.submit[disabled] {
        color: white;
        background-color: #0099003f;
      }

      &:not(:first-child) {
        margin-inline-start: 15px;
      }
    }

  }
}
