:host {
  display: block;
  height: calc(100vh - 64px);
  overflow: auto;
  padding: 50px;
  box-sizing: border-box;
  scroll-behavior: smooth;

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .tag-filters {
    margin-inline-end: auto;
  }

  .loading-posts {
    display: grid;
    height: 100px;
    width: 100%;
    place-items: center;

    mat-spinner {
      ::ng-deep circle {
        stroke: rgb(37, 37, 37);
      }
    }
  }

  viv-post-list {
    margin-top: 20px;
    animation: fade-in .5s ease-out;
  }

  .add {
    margin: 40px 0;
    position: relative;

    viv-post-editor {
      box-shadow: 0px 3px 11px #bcb8b8;
    }
  }

}
